/*!
 * Create.Rocks Tools | Version 1.0 | http://create.rocks
 * License:   http://www.gnu.org/licenses/gpl-2.0.html
 * Copyright: 2014 - 2016 Create.Rocks
 */

 /*
  * Metabox
  */

.rocks_tools_custom_headers_option {
	padding: 3px 13px 11px;
	border-bottom: 1px solid #eee;
	margin-left: -12px;
	margin-right: -12px;
	overflow: hidden;
}

.rocks_tools_custom_headers_option + .rocks_tools_custom_headers_option {
	padding-top: 9px;
}

.rocks_tools_custom_headers_option.title {
	cursor: pointer;
}

.rocks_tools_custom_headers_option.block {
	display: none;
}

.rocks_tools_custom_headers_option.block.visible {
	display: block;
}

.rocks_tools_custom_headers_option i.fa {
	float: right;
	margin-top: 3px;
	cursor: pointer;
	color: #a0a5aa;
}

.rocks_tools_custom_headers_option:hover i.fa {
	color: #777;
}

.rocks_tools_custom_headers_reset {
	margin-top: 5px !important;
}

.rocks_tools_custom_headers_previews {
	list-style: none;
	overflow: hidden;
	margin-bottom: 0;
}

.rocks_tools_custom_headers_previews li {
	float: left;
}

.rocks_tools_custom_headers_previews img {
	width: 117px;
	margin-right: 10px;
	border: 2px solid #f1f1f1;
	border-radius: 1px;
	cursor: pointer;
}

.rocks_tools_custom_headers_previews li.checked img {
	border-color: #2ea2cc;
}

.rocks_tools_custom_headers_previews li:nth-child(even) img {
	margin-right: 0;
}

/**
 * Customizer
 */

.rocks_tools_custom_headers_previews.customizer {
	margin-top: 6px;
	cursor: default;
}

.rocks_tools_custom_headers_previews.customizer li {
	width: 42%;
	margin: 5px 10px;
}

.rocks_tools_custom_headers_previews.customizer img {
	border-color: #ddd;
	width: 100%;
}

.rocks_tools_custom_headers_input {
	display: none;
}

#customize-control-mobile_header_layout {
	margin-top: 15px;
}