/*!
 * Create.Rocks Tools | Version 1.0 | http://create.rocks
 * License:   http://www.gnu.org/licenses/gpl-2.0.html
 * Copyright: 2014 - 2016 Create.Rocks
 */

/*
 * Notice
 */

.wrap div.notice.rocks-tools-demo-importer-notice {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.wrap div.notice.rocks-tools-demo-importer-notice ul {
	list-style: inside;
}

/*
 * Layouts
 */

.rocks-tools-demo-importer {
	margin: 20px -10px 0;
}

.rocks-tools-demo-importer-template {
	float: left;
	margin: 0 10px 20px;
	width: 250px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
}

.rocks-tools-demo-importer-template img {
	display: block;
	width: 100%;
	height: 100%;
}

.rocks-tools-demo-importer-template label {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 12px 0;
}

/**
 * Process
 */

.wrap .rocks-tools-demo-importer-process {
	display: none;
	padding-top: 10px;
}

.wrap .rocks-tools-demo-importer-process img {
	margin-bottom: -5px;
	margin-right: 6px;
}

.wrap .rocks-tools-demo-importer-process span {
	padding-bottom: 10px;
	display: inline-block;
}