/*!
 * Create.Rocks Tools | Version 1.0 | http://create.rocks
 * License:   http://www.gnu.org/licenses/gpl-2.0.html
 * Copyright: 2014 - 2016 Create.Rocks
 */

/*
 * Widgets
 */

div[id*="_rocks"] .widget-top {
	position: relative;
}

div[id*="_rocks"] .widget-top .widget-title::before {
	height: 43px;
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	content: 'Rocks';
	text-align: center;
	line-height: 43px;
	border-right: 1px solid #E5E5E5;
	padding: 0 15px;
	background-color: rgba( 0, 0, 0, 0.03 );
}

div[id*="_rocks"] .widget-top .widget-title h3,
div[id*="_rocks"] .widget-top .widget-title h4 {
	margin-left: 67px;
}