/*!
 * Create.Rocks Tools | Version 1.0 | http://create.rocks
 * License:   http://www.gnu.org/licenses/gpl-2.0.html
 * Copyright: 2014 - 2016 Create.Rocks
 */

/*
 * Widgets
 */

.rocks-tools-add-widget {
	padding: 15px 15px 18px 15px;
}

.rocks-tools-add-widget h3 {
	line-height: 1.3;
	padding: 0 !important;
	margin-bottom: 15px !important;
}

.rocks-tools-add-widget h3:hover {
	cursor: default;
}

.rocks-tools-add-widget .submit {
	padding: 10px 0 0;
	margin: 0;
}

.rocks-tools-add-widget input[type="text"] {
	width: 100%;
}

.sidebar-rocks-custom {
	position: relative;
}

.sidebar-rocks-custom .description {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

.rocks-tools-sidebar-area-delete {
	position: absolute;
	cursor: pointer;
	width: 15px;
	height: 15px;
	z-index: 50;
	right: 45px;
	top: 13px;
	font-size: 1.2em;
	color: #AAA;
}

.branch-3-7 .rocks-tools-sidebar-area-delete,
.branch-3-6 .rocks-tools-sidebar-area-delete,
.branch-3-5 .rocks-tools-sidebar-area-delete,
.branch-3-4 .rocks-tools-sidebar-area-delete {
	right: 30px;
	top: 10px;
}

.rtl .rocks-tools-sidebar-area-delete {
	right: auto;
	left: 30px;
}

.rocks-tools-sidebar-area-delete:hover {
	color: #F00;
}

/*
 * Metabox
 */

.rocks_tools_custom_sidebar_position {
	overflow: hidden;
}

.rocks_tools_custom_sidebar_position span {
	margin-right: 10px;
	cursor: pointer;
	display: block;
	float: left;
}

.rocks_tools_custom_sidebar_position span img {
	border-radius: 1px;
	width: 50px;
}

.rocks_tools_custom_sidebar_position input {
	display: none;
}

.rocks_tools_custom_sidebar_position i {
	display: block;
	border-radius: 15px;
	text-align: center;
	font-size: 11px;
	font-style: normal;
	margin-top: 5px;
}

.rocks_tools_custom_sidebar_position span.checked i {
	background-color: #F1F1F1;
}
