/*!
 * Create.Rocks Tools | Version 1.0 | http://create.rocks
 * License:   http://www.gnu.org/licenses/gpl-2.0.html
 * Copyright: 2014 - 2016 Create.Rocks
 */

/*
 * Visual Composer Fix
 */

#sample-permalink {
    margin-bottom: 15px;
    display: inline-block;
}

.wpb-textinput.button.textfield {
    font-size: 1em;
    border-radius: 0;
    margin: 0;
    padding: 8px 6px 7px;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, .07 ) inset;
    background-color: #FFF;
    color: #32373C;
    border-color: #DDD;
    line-height: 1.4em;
    height: auto;
    cursor: auto;
}

.wpb-select.dropdown.notice {
    box-shadow: 0px 1px 2px rgba( 0, 0, 0, .07 ) inset;
    border: 1px solid #DDD;
}

.wpb-select.dropdown.notice option.notice {
    box-shadow: none;
    border: none;
}

.wpb-select.dropdown.disabled {
    border-color: #DDD;
    box-shadow: 0px 1px 2px rgba( 0, 0, 0, .07 ) inset;
    color: #32373C;
}

.wpb-select.dropdown.attachment {
    color: #32373C;
    cursor: default;
    width: 100%;
}

.wpb-select.dropdown.attachment:focus {
    box-shadow: 0px 0px 2px rgba( 30, 140, 190, .8 );
}

.vc_ui-panel[data-vc-shortcode="vc_tta_accordion"] .vc_column[data-vc-shortcode-param-name="collapsible_all"],
.vc_ui-panel[data-vc-shortcode="vc_tta_section"]   .vc_column[data-vc-shortcode-param-name="add_icon"],
.vc_ui-panel[data-vc-shortcode="vc_tta_section"]   .vc_column[data-vc-shortcode-param-name="tab_id"],
.vc_ui-panel[data-vc-shortcode="vc_tta_section"]   .vc_column[data-vc-shortcode-param-name="i_position"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tabs"]      .vc_column[data-vc-shortcode-param-name="autoplay"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tabs"]      .vc_column[data-vc-shortcode-param-name="no_fill_content_area"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tabs"]      .vc_column[data-vc-shortcode-param-name="tab_position"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tabs"]      .vc_column[data-vc-shortcode-param-name="active_section"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tour"]      .vc_column[data-vc-shortcode-param-name="autoplay"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tour"]      .vc_column[data-vc-shortcode-param-name="no_fill_content_area"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tour"]      .vc_column[data-vc-shortcode-param-name="tab_position"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tour"]      .vc_column[data-vc-shortcode-param-name="active_section"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tour"]      .vc_column[data-vc-shortcode-param-name="controls_size"],
.vc_ui-panel[data-vc-shortcode="vc_tta_pageable"]  .vc_column[data-vc-shortcode-param-name="tab_position"],
.vc_ui-panel[data-vc-shortcode="vc_tta_pageable"]  .vc_column[data-vc-shortcode-param-name="active_section"],
.vc_ui-panel[data-vc-shortcode="vc_tta_pageable"]  .vc_column[data-vc-shortcode-param-name="pagination_style"] {
    display: none;
}

.vc_ui-panel[data-vc-shortcode="vc_tta_accordion"] .vc_column[data-vc-shortcode-param-name="css_animation"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tabs"]      .vc_column[data-vc-shortcode-param-name="css_animation"],
.vc_ui-panel[data-vc-shortcode="vc_tta_tour"]      .vc_column[data-vc-shortcode-param-name="css_animation"] {
    padding-top: 0;
}

.vc_add-element-container .wpb-content-layouts li {
    height: 73px !important;
}

.vc_add-element-container .wpb-content-layouts a {
    font-size: 13px !important;
    line-height: 17px !important;
}

.vc_add-element-container .wpb-content-layouts a .vc_element-description {
    line-height: 15px !important;
}

/*
 * Icons
 */

.rocks-icon-wpb-counter {
    background-image: url( '../images/counter.png' ) !important;
}

.rocks-icon-wpb-pricing-table {
    background-image: url( '../images/pricing-table.png' ) !important;
}

.rocks-icon-wpb-testimonial {
    background-image: url( '../images/testimonial.png' ) !important;
}

.rocks-icon-wpb-quote {
    background-image: url( '../images/quote.png' ) !important;
}

.rocks-icon-wpb-social {
    background-image: url( '../images/social.png' ) !important;
}

.rocks-icon-wpb-team-member {
    background-image: url( '../images/team-member.png' ) !important;
}

.rocks-icon-wpb-clients {
    background-image: url( '../images/clients.png' ) !important;
}

.rocks-icon-wpb-custom-list {
    background-image: url( '../images/custom-list.png' ) !important;
}

.rocks-icon-wpb-icon {
    background-image: url( '../images/icon.png' ) !important;
}

.rocks-icon-wpb-dropcap {
    background-image: url( '../images/dropcap.png' ) !important;
}

/*
 * Button
 */

.rocks-vcs-button {
    color: #666;
    background-color: #EBEBEB;
    border: 0;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px 16px;
    font-size: 12px;
    cursor: pointer;

    -webkit-transition: opacity .1s;
       -moz-transition: opacity .1s;
            transition: opacity .1s;
}

.rocks-vcs-button:hover {
    color: #5E5E5E;
    background-color: #DCDCDC;
}

.rocks-vcs-button.button-large {
    padding: 14px 24px;
}

.rocks-vcs-button i {
    padding-right: 6px;
    opacity: 0.9;
}

/*
 * Alert
 */

.rocks-vcs-alert {
    margin-top: 15px;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid;
    font-style: italic;
    font-size: 0.9em;
}

.rocks-vcs-alert.alert-notice {
    border-color: #F2F2F2;
    color: #999;
}

.rocks-vcs-alert.alert-warning {
    border-color: #FBEED5;
    color: #AD8643;
}

.rocks-vcs-alert.alert-success {
    border-color: #DFF0D8;
    color: #468847;
}

.rocks-vcs-alert.alert-error {
    border-color: #F2DEDE;
    color: #B94A48;
}

.rocks-vcs-alert.alert-info {
    border-color: #D9EDF7;
    color: #3A87AD;
}

/*
 * Single Image
 */

.rocks-vcs-image {
    border-radius: 6px;
}

/*
 * Image Gallery
 */

.rocks-vcs-slider {
    margin-top: 10px;
    overflow: hidden;
}

.rocks-vcs-slider img {
    border-radius: 50%;
    float: left;
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
